version: "3.8"

services:
  server:
    image: abhip22/cinemate-server
    build: ./server
    env_file:
      - ./server/.env
    restart: always
    expose:
      - "8080"

  client:
    image: abhip22/cinemate-client
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    restart: always
