version: "3.8"

services:
  server:
    build: ./server
    container_name: node-backend
    env_file:
      - ./server/.env
    restart: always
    expose:
      - "8080"

  client:
    build: ./client
    container_name: nginx-frontend
    ports:
      - "80:80"
    depends_on:
      - server
    restart: always
