# Name of the WorkFlow
name: Deployment

# On which event the workflow should be triggered
on:
  push:
    branches: ["main"] 

# Define the jobs to be run
jobs:
# Job name
  deploy:  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to feature branch
        uses: actions/checkout@v3 

      # - name: Run docker build
      #   run: docker build ./ -t abhip22/cinemate:latest 

      # - name: Push to DockerHub    
      #   run: docker push abhip22/cinemate:latest

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin

      - name: Build images
        run: docker compose build

      - name: Push images
        # run: |
        #   docker push abhip22/cinemate-client:latest
        #   docker push abhip22/cinemate-server:latest
        run: docker compose push

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/app
            docker compose pull
            docker compose up -d --remove-orphans


