# Name of the WorkFlow
name: Integration

# On which event the workflow should be triggered
on:
  push:
    branches: ["main"] 
  pull_request:
    branches: ["main"]

# Define the jobs to be run
jobs:
# Job name
  build:  
    runs-on: ubuntu-latest
    strategy:
      matrix:
      # Define node versions to test against
        node-version: [18.x]

    steps:
      - name: Checkout to feature branch
        uses: actions/checkout@v3 

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node-version}}
          cache: 'npm'
          cache-dependency-path: |
            server/package-lock.json
            client/package-lock.json

      - name: Install server deps
        run: |
          cd server
          npm install

      - name: Build server
        run: |
          cd server
          npm run build

      - name: Install client deps
        run: |
          cd client
          npm install

      - name: Build client
        run: |
          cd client
          npm run build